$light-green-bg: hsl(177, 20%, 82%); // hero background
$green-bg: hsl(172, 40%, 19%); // cta background
$dark-green-bg: hsl(195, 20%, 16%); // location-hours,footer, nav-menu background, h1 product-menu text
$darkest-green-bg: hsl(193, 46%, 8%); //  sub-footer background

$light-brown-button: hsl(26, 52%, 35%); // cta button bg
$dark-brown-button: hsl(20, 56%, 15%); // hero button bg
$dark-brown-text: hsl(22, 39%, 11%);  //  hero, also h2 & p product-menu text 

$white-color: hsl(0, 0%, 100%); // bean, location-hours, cta, footer, sub-footer & button text, 
// also menu background *socials svg background before opacity filter*

$menu-active-bg: hsl(28, 39%, 50%); // nav-menu *focus* background
$hamburger-menu: hsl(21, 40%, 11%); //hamburger svg fill
