@import "variables.scss";


@mixin hidden {
  display: none;
}

@mixin heading {
  font-family: quanticobold, monospace;
  text-transform: uppercase;
}

@mixin menu {
  display: flex;
  font-family: quanticobold, monospace;
  font-size: 1.5rem;
  justify-content: space-between;
  text-transform: uppercase;
  color: $dark-brown-text;
}

@mixin paragraph {
  font-family: opensanslight, sans-serif;
  font-size: 1rem;
  letter-spacing: .35px;
}

@mixin button {
  padding: 1rem 2.15rem;
  display: block;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 1.45rem;
  font-family: quanticobold, monospace;
  text-transform: uppercase;
}